<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Lista de anuncios</title>
</head>
<body>
<h1>Lista de Anuncios</h1>
<br/>
 <a href="/home">Home</a>
 <a href="/anuncios/cadastro">Novo anuncio</a>
 <a href="/anuncios/list">Todos os anuncios</a>
 <br/>
 <table border="3px">
 <tr><th colspan="12"> Filtros </th> </tr>
 <tr><th colspan="5">Filtro por  Cliente <form action="/anuncios/listbyclientes" method="get" accept-charset="utf-8">
 <input type="text" size="50px" placeholder="Filtro por cliente"  name="cliente" />
 <input type="submit" value="Filtrar" />
 </form>  </th> <th colspan="5">Filtro por data
 <form action="/anuncios/listbydata" method="get" accept-charset="utf-8">
 <input type="date" name="dataInicio" pattern="yyyy-MM-dd" required="true"  />
 
 <input type="date" name="dataFim"  pattern="yyyy-MM-dd"  required="true"   />
 <input type="submit" value="Filtrar" /> 
 </form>
 </th>
  </tr>
 <tr><th> Id </th><th> Cliente  </th><th>  Nome do Anuncio </th><th>Data Inicio</th><th>Data fim</th><th>Investimento R$</th><th colspan="3">Ações</th> </tr>

<tr th:each="anuncio : ${anuncios}">
 <td th:text="${anuncio.id}"></td>
 <td th:text="${anuncio.cliente}"></td>
  <td th:text="${anuncio.nomeAnuncio}"></td>
 <td th:text="${#calendars.format(anuncio.dataInicio,'dd/MM/yyyy')}"></td>
 <td th:text="${#calendars.format(anuncio.dataFim,'dd/MM/yyyy')}"></td>
 <td th:text="${anuncio.investimentoDiario}"> </td>

 <td ><a th:href="@{/anuncios/deletar/{id}(id=${anuncio.id})}" onclick="return confirm('Você tem certeza ?')" >Deletar</a></td>
 <td ><a th:href="@{/anuncios/atualizar/{id}(id=${anuncio.id})}">Atualizar</a></td>
 <td ><a th:href="@{/anuncios/calcular/{id}(id=${anuncio.id})}">Relatório</a></td>
 
</tr>

  
 </table>
</body>
</html>